body {
    position: relative;
    font-family: 'Helvetica', sans-serif;
    background-color: #dfd3c0;
    color: #994e33;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
}

header {
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    background: linear-gradient( #c49b80, transparent 3px), linear-gradient( 90deg, #c49b80, transparent 3px);
    background-size: 25px 25px;
    background-position: center center;
}

.header_title {
    color: #994e33;
    margin: 0;
    line-height: 56px;
    font-size: 70px;
    
}

.header_text {
    color: white;
    font-size: 30px;
    padding-left: 30%;
    text-shadow: 0 0 10px #b68f75;
}

.text-style {
    color: #994e33;
    margin: 0;
    font-size: 30px;
    text-decoration: 2px underline;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(105, 61, 52, 0.1);
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
    width: 98%;
    align-content: center;
}

form input:focus, 
form textarea:focus, 
form select:focus {
    border-color: #d78466;
    outline: none;
}

button {
    background-color: #d78466;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e67d57;
}

.recipes-content{
    background-color: #64453a;
    color: #994e33;
    padding-top: 30px;
    padding-bottom: 80px;
}

.text-style-light {
    color: #dfd3c0;
    text-decoration: none;
    font-size: 35px;
}

.text-style-min {
    font-size: 20px;
    padding-top: 30px;
}

.flex-box {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}

.recipe-item {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px #e6956a;
    transition: 0.2s ease-in-out;
}

.recipe-item:hover {
    box-shadow: 0 8px 16px #ffa981;
}

.filter-input {
    max-width: 15%;
}

a {
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: #b68f75;
}

iframe { 
    position: absolute;
    bottom: 30px;
    right: 30px;
    margin-bottom: 10px;
    background-color: #b68f75;
    border-color: #64453a;
    height: 40px;
    width: 280px; }
